.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 16vh;
  display: flex; /*Specifies the display behavior, type of the rendering box*/
  flex-direction: column; /*Specifies the direction of the flexible items*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokemons-grid {
  display: flex;
  flex-wrap: wrap; /*specifies whether the flexible items should wrap or not*/
  max-width: 1200px;
  margin: 0 auto;
}

.grid-pokemon {
  flex-basis: calc(
    10% - 4rem
  ); /*specifies the initial length of a flexible item.*/
  flex-grow: 1; /*specifies how much the item will grow relative to the rest of the flexible items inside the same container.*/
  flex-shrink: 0; /*specifies how the item will shrink relative to the rest of the flexible items inside the same container.*/
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
  position: relative;
}

.name-pokemon {
  font-size: calc(10px + 2vmin);
  color: #215cd3;
  letter-spacing: 0;
}

.grid-photo-wrap {
  position: relative;
}

.grid-photo {
  /* width: 100%;
  margin: 0;
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: none; */
}

.grid-single-pokemon {
  display: flex;
  flex-grow: 1; 
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  
  padding: 2px 16px;
}

label {
  font-size: calc(15px + 2vmin);
}

.footer{

  display: flex;
  flex-grow: 1; 
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 30%;
  margin: 0 auto;
  padding: 2rem;
}

.form-control-search {
  width: 80%;
  margin: auto;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
}

